{% extends 'base.html.twig' %}

{% block title %}Fiche d'un artiste{% endblock %}

{% block body %}
     <h1>{{ artist.firstname }} {{ artist.lastname }}</h1>
    
    <h2>Liste des types</h2>
    <ul>
    {% for type in artist.types  %}
        <li>{{ type.type }}</li>
    {% endfor %}
    </ul>

    <nav><a href="{{ path('app_artist_index') }}">Retour à l'index</a></nav>

    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
